# Debug files
notebooks/work_in_progress.ipynb
debug.py

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
/model/__pycache__/
/dataset/__pycache__
*.py[cod]
*$py.class

# Logs
model/logs
logs