# Debug files
notebooks/work_in_progress.ipynb

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
/model/__pycache__/
*.py[cod]
*$py.class